# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.next

# Dependency directories
node_modules/
jspm_packages/

# Distribution directory
dist/
out/
build/
bundle.js
bundle.js.map

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
