version: "3.9"  # optional since v1.27.0
services:
  web:
    environment:
    - BASE_URL_BOOK_REVIEW_API=http://localhost:8000
    build: ./book-review-ui
    ports:
      - "3000:3000"
  api:
    build: ./book-review-api
    ports:
      - "8000:8000"